<ion-content [fullscreen]="true">
  <div class="wrapper">
  <ion-card *ngIf="currentActivity" class="activity">
    <ion-card-content class="ion-text-center ion-margin">
      {{currentActivity.activity}}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="currentActivity" button="true" color="secondary" class="bored-button still-bored-button" (click)="loadActivity()">
    <ion-card-content class="ion-text-center ion-text-uppercase">still bored</ion-card-content>
  </ion-card>

  <ion-card *ngIf="!currentActivity" button="true" color="secondary" class="bored-button im-bored-button" (click)="loadActivity()">
    <ion-card-content class="ion-text-center ion-text-uppercase">I'm bored</ion-card-content>
  </ion-card></div>
</ion-content>